*{
    box-sizing: border-box;  
}
body{
    font-family: Roboto,sans-serif;
    margin: 0;
}

.portafolio{
    background-color: #8B4513;
    text-align: center;
    padding: 10px 0px;
}

.portafolio h2{
    color: #FFFFFF;
    font-size: 3em;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    background-color: #556B2F;
    border-radius: 10px;
    box-shadow: 0 2px 4px #333333;
    padding: 10px;
}

.card img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.card h3{
    color: #FFFFFF;
    margin: 10px 0 5px;
    font-size: 1.4em;
}

.card p{
    font-size: 1em;
    color: #FFFFFF;
}

h1{ font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{ font-size: 1.2em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #333333;
    box-shadow: 0px 2px 4px #333333;
    color: #FFFFFF;
    background-color: #D2691E;
}

button:hover{
    background-color: #985322;
}

.container{
    max-width: none;
    margin: auto;
}

header{
    background-color: #5C4033;
}

header .logo{
    margin: 0;
    padding: 10px 30px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

header a:hover{
    color:bisque
}

header a:active{
    color: rgb(196, 163, 124);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 500px;
    flex-direction: column;
    height: 60vh;
    background-image: url("recortes/Banner-web.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#Sobre-Nosotros .container{
    background-color: #556B2F;
    color: #FFFFFF;
    text-align:  center;
    padding: 10px 0px;
}

#Servicios{
    background-color:#8B4513;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0px;
}

#Servicios h2{
    margin-top: 0;
    font-size: 3em;
}

#Servicios p{
    display: none;
}

#Servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 20px;
    margin: 10px auto;
    border-radius: 15px;
    height: 300px;
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
}

#Servicios .carta:first-child{
    background-image:linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("recortes/muebles.jpg")
}

#Servicios .carta:nth-child(2){
    background-image:linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("recortes/restauracion.jpg")
}

#Servicios .carta:nth-child(3){
     background-image:linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("recortes/decoraciones.jpg")
}

#Servicios .carta:nth-child(4){
     background-image:linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("recortes/formulario.jpg")
}


#el-proceso .container{
    background-color: #556B2F;
    color: #FFFFFF;
   text-align: left;
   padding: 10px 0px;
}

#el-proceso li{
    margin: 16px 0px;
    font-weight: bold;

}

#Blog{
    background-color:#8B4513;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0PX;
}

#Blog h2{
    margin-top: 0;
    font-size: 3em;
}

#Blog p{
    display: none;
}

#Blog .carta{
    background-position: center center;
    background-size: cover;
    padding: 20px;
    margin: 10px auto;
    border-radius: 15px;
    height: 300px;
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
}

#Blog .carta:first-child{
    background-image:linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("recortes/cuidado.jpg")
}

#Blog .carta:nth-child(2){
    background-image:linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("recortes/historia.jpg")
}

#Blog .carta:nth-child(3){
     background-image:linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("recortes/inspiracion.jpg")
}

#Blog .carta:nth-child(4){
     background-image:linear-gradient(
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("recortes/detras.jpg")
}


#Contacto .container{
    background-color: #556B2F;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0px;
}

#Contacto h2{
    text-align: center;
}

#Contacto li{
    text-align: center;
    margin: 16px 0px;
    font-weight: bold;
}

#Contacto button{
    font-size: 1.75em;
}

#Contacto .formulario{
    text-align: center;
    background-color: #556B2F;
    padding: 10px 0px;
    color: #FFFFFF;
}

footer{
    background-color:#FFFFFF;
   }

footer p{
    margin: 0;
    padding: 10px;
    color: rgb(100,100,100);
}

footer .container{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}




@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
}

#Sobre-Nosotros .container{
    display: flex;
    justify-content: space-evenly;
}

#Sobre-Nosotros .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Sobre-Nosotros h2{
    margin-top: 0px;
}

#Sobre-Nosotros .img-container{
    background-image:  url("recortes/somosraiz.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
}

#Servicios .Servicios{
    display: flex;
    justify-content: center;
}

#Servicios p{
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

#Servicios h2{
    font-size: 4em;
}

#Servicios h3{
    margin-top: 0;
}

#Servicios .carta{
    padding: 50px;
    box-shadow: 0px 2px 4px #333333;
}

#el-proceso{
    background-color: #556B2F;
    padding: 50px 0;
}

#el-proceso .content-wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

#el-proceso .container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#el-proceso h2{
    text-align: center;
    margin-top: 0px;
}

#el-proceso .textlist{
    width: 50%;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 30px;
    padding: 0px 30px;
    justify-content: center center;
}

#el-proceso .img-container{
    max-width: 500px;
    height: auto;
    background-image: url("recortes/proceso.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
}

#Blog .Blog{
    display: flex;
    justify-content: center;
}

#Blog p{
    display: block;
    margin-bottom: 10px;
}

#Blog h2{
    font-size: 4em;
}

#Blog h3{
    font-size: 2em;
    margin-top: 0;
}

#Blog .carta{
    padding: 50px;
    box-shadow: 0px 2px 4px black;
}

footer .container{
    justify-content: flex-end;
}
/* === OPTIMIZACIÓN MÓVIL === */
@media (max-width: 720px) {

  header {
    position: relative;
  }

  header .container {
    flex-direction: column;
    align-items: center;
  }

  header nav {
    flex-direction: column;
    padding-bottom: 10px;
  }

  header a {
    padding: 8px;
    font-size: 1.1em;
  }

  /* Banner */
  #hero {
    height: 60vh;
    padding-top: 0;
    background-size: cover;
    background-position: center;
  }

  #hero button {
    font-size: 1.2em;
    padding: 10px 20px;
  }

  /* Portafolio */
  .portafolio h2 {
    font-size: 2.2em;
  }

  .galeria {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .card {
    max-width: 90%;
    margin: auto;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  /* Sobre Nosotros */
  #Sobre-Nosotros .container {
    flex-direction: column;
    padding: 20px;
  }

  #Sobre-Nosotros .texto {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  #Sobre-Nosotros .img-container {
    width: 90%;
    height: 250px;
    margin: 0 auto 20px;
  }

  /* Servicios */
  #Servicios .Servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #Servicios .carta {
    width: 90%;
    max-width: 350px;
    height: auto;
    padding: 30px;
  }

  #Servicios h2 {
    font-size: 2.5em;
  }

  /* El Proceso */
  #el-proceso .content-wrapper {
    flex-direction: column;
    text-align: center;
  }

  #el-proceso .textlist {
    width: 100%;
    padding: 0 20px;
  }

  #el-proceso .img-container {
    width: 90%;
    height: 250px;
    margin: 20px auto 0;
  }

  /* Blog */
  #Blog .Blog {
    flex-direction: column;
    align-items: center;
  }

  #Blog .carta {
    width: 90%;
    max-width: 350px;
    height: auto;
    padding: 30px;
  }

  #Blog h2 {
    font-size: 2.5em;
  }

  /* Contacto */
  #Contacto .container {
    padding: 20px;
  }

  #Contacto ul {
    padding: 0;
  }

  #Contacto li {
    font-size: 1em;
  }

  #Contacto form {
    width: 90%;
    margin: auto;
  }

  #Contacto textarea,
  #Contacto button {
    width: 100%;
  }

  /* Footer */
  footer p {
    font-size: 0.9em;
    text-align: center;
  }
}

}
